In [17]:
#python starting coding 
#string

In [18]:
"hello World"

'hello World'

In [19]:
my_string = "this is a dog"

In [20]:
print(my_string)

this is a dog

In [21]:
 n = my_string.upper()

In [22]:
print(n)

THIS IS A DOG

In [23]:
m = n.lower()

In [24]:
print(m.index("d"))

10

In [25]:
m[-3]

'd'

In [26]:
#slicing

In [27]:
mystr= "mother father"

In [28]:
mystr[2:]

'ther father'

In [29]:
mystr[:4]

'moth'

In [30]:
#to reverse a string
mystr[::-1]

'rehtaf rehtom'

In [31]:
mystr[1:12:3]

'oefh'

In [32]:
 def vol_of_sphere(r):
     return (4/3)*(22/7)*r**3

In [33]:
vol_of_sphere(2)

33.52380952380952

In [50]:
#or 
#we can use import math liberary  import math and after that math.pi for precise pi value

In [ ]:
#wap that check given number is in range or not

In [46]:
def ran_check(num, low, high):
    if num > low and num <high:
        print(f"{num} is in range between {low} and {high}")
        print(True)
    else:
        print(f"{num} is not in range between {low} and {high}")
        print(False)

In [49]:
ran_check(17,2,61)

17 is in range between 2 and 61
True

In [102]:
def upper_lower(str):
    x = 0
    y = 0 
    for alpha in str:
        if alpha.isupper():
            x +=  1
        elif alpha.islower():
            y += 1
        
    print(f" uppercaseletter in '{str}' are {x} and lowercase {y} ")

In [103]:
upper_lower("ThIs is me.")

 uppercaseletter in 'ThIs is me.' are 2 and lowercase 6

In [119]:
mylst = [1,2,3,-4]
mylst.sort()
print(mylst)
def fun(mylst):
    x = 1
    for a in mylst:
        x *= a
    return x
fun(mylst)

[-4, 1, 2, 3]

-24

In [122]:
def ch(str):
    if str == str[::-1]:
        print(True)

In [123]:

ch("kayak")

True

In [1]:
lst = [1,1,1,1,1,2,2,2,2,3,3,3,4,4,5,6,6,7,7,]
set = set(lst)
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
lst = [1,1,1,1,1,2,2,2,2,3,3,3,4,4,5,6,6,7,7,]
def uni(lst):
    mylst = []
    for a in lst:
        if a not in mylst:
            mylst.append(a)
    return mylst

In [15]:
mylist = [1,1,1,1,12,2,2,3,3,34,4,4]
uni(mylist)

[1, 12, 2, 3, 34, 4]

In [ ]:
def pe